body {
    background-color: #EAF6F6;
    /* background-color: powderblue; */
}

h1 {
    color: #df9f0c;
}

h3 {
    color: #666fbf;
}

hr {
    /* border-style: dotted none none; */
    border-color: grey;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    height: 0px;
    width: 5%;
}

footer {
    text-align: center;
}

.container {
    line-height: 2;
}

.info {
    text-align: center;
}